<div class="parent">
  <app-header
    [pageTitle]="dashboardTitle"
    [additionalData]="someData"
  ></app-header>

  <app-nav-bar></app-nav-bar>
 <div class="container-fluid">
  <main class="main" id="main">
    <div class="bg-card">
      <div class="main-view">
        <div class="sidebar">
          <samurai-list
            (samuraiSelected)="selectedSamurai = $event"
          ></samurai-list>
        </div>
        <div class="details-view">

          <samurais-details [samurai]="selectedSamurai"></samurais-details>

          <!-- <div *ngIf="selectedSamurai.active ===1">
            <profile [samurai]="selectedSamurai"></profile>
          </div>


          <div *ngIf="selectedSamurai.active === 0">
            <samurais-details [samurai]="selectedSamurai"></samurais-details>
          </div> -->
        </div>
      </div>
    </div>
  </main>
  </div>
  </div>
  


