<div class="app-container">
  <div class="side-menu-container">
    <mat-nav-list class="parent">
      
      <!-- More side menu items go here -->
    </mat-nav-list>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
  
  <app-footer *ngIf="showFooter"></app-footer>
</div>


<!-- <div class="app-container">-->
    <!-- <app-side-menu></app-side-menu> -->
    <!-- <div class="content">
      <router-outlet></router-outlet>
    </div>
    <app-footer *ngIf="showFooter"></app-footer>
  </div> --> 










