.parent {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
  }
  #main,
  #footer {
    margin-left: 200px;
    padding: 60px 30px;
    transition: all 0.3s;
    background-color: aliceblue;
    top: 4.5rem;
  }
  app-header {
    display: flex;
    flex: 0 0 auto; /* Take only the necessary space */
  }
  
  app-nav-bar {
    flex: 0 0 auto; /* Take only the necessary space */
  }
  
  body {
    font-family: "Barlow", sans-serif !important;
  }

  
.btn {
  width: 75px;
  padding: 2px;
  height: 30px;
  background-color: #0176ff;
  border-color: #0176ff;
  border-radius: 5px;
  color: white;
  position: relative;
  letter-spacing: 0.05cap;
  cursor: pointer;
}

.btn:hover{
  background-color: #1154a1;
}

.end-view{
  margin-top: 10px;
  direction: rtl;
}

.parent {
  font-family: Arial, sans-serif;
}

.card {
  border: none;
  border-radius: 8px;
}

.card-title {
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  font-weight: 600;
 

}

.btn-primary:hover {
  background-color: #0056b3;
}

.form-label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.form-control {
  border-radius: 6px;
  box-shadow: none;
}

.d-grid {
  margin-top: 5px;
}
.input-group {
    align-items: center;
  }
  .input-group-text {
    background-color: #f8f9fa;
    font-weight: bold;
  }
  